



.mobile_header{
    position: fixed;
    top:0;left:0;right:0;
    height:40px;
    padding:10px;
    background-color:rgba(255, 255, 255, 0.981);
    z-index:1;
    border-bottom:1px solid rgba(0, 0, 0, 0.093);
    backdrop-filter:blur(10px);
}

.m_left{
    float:left;
    padding-top:9px;
}
.m_left img{
    width:200px;
}




.m_right{
    float:right;
    padding-right:10px;
    color:black;
    padding-top:10px;
}