





.background-image{
    background:rgba(0, 0, 0, 0.594)url("../../assets/bkone.jpeg");
    background-position:top center;
    background-size:cover;
    position: absolute;
    top:0;
    width:900px;
    height:580px;
    left:0;
    z-index: -0;
    background-blend-mode: darken;
}