



.user-view{
    height:590px;
    width:100%;
    background-color:rgba(245, 222, 179, 0.116);
}



.content-positioning{
    z-index:1;
    color:white;
    position: absolute;
    left:600px;
    top:140px;
}
.content-positioning .content-container{
    width:600px;
    padding:10px;
    height:200px;
    background-color:rgba(0, 0, 0, 0.391);
    backdrop-filter:blur(10px);
}
.content-positioning .content-container .content h1{
    font-size:40px;
}
.content-positioning .content-container .content  p{
    padding-top:20px;
}

.content-positioning .content-container .content .button{
    padding-top:35px;
}

.content-positioning .content-container .content button{
    padding:24px;
    margin:5px;
    width:200px;
    font-size:15px;
    border:none;
    background-color:black;
    border:1px solid white;
    color:white;
}

.content-positioning .content-container .content #actives{
    background-color:white;
    color:black;
}





.intro-content{
    line-height:20px;
    width:500px;
    position: absolute;
    right:260px;
    top:370px;
}











.social_midia_content{
    position: absolute;
    right:50px;
    top:100px;
}
.social_midia_content a{
    writing-mode: vertical-rl;
    display:block;
    padding:10px 16px;
    text-decoration:none;
    color:black;
}

.social_midia_content #active{
    border-left:1px solid black;
}