

:root{
    --border: 1px solid rgb(227, 226, 226);
    font-family: 'Open Sans', sans-serif;
}



.header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    height:70px;
    z-index:100;
    background-color:white;
    border-bottom:var(--border);
}





.left-content{
    float:left;
    padding-top:16px;
    padding-left:100px;
}

.left-content img{
    width:230px;
}




.center-content{
    float:left;
    padding-left:200px;
    padding-top:40px;
}
.center-content a{
    padding:10px 16px;
    text-decoration:none;
    color:black;
}
.center-content a:hover{
    border-bottom:1px solid black;
}
.center-content #active{
    border-bottom:1px solid black;
}






.right-content{
    float:right;
    padding-right:40px;
    padding-top:25px;
}

.right-content a{
    padding:6px 16px;
    color:black;
    text-decoration:none;
}

.right-content #seprators{
    border-right: 1px solid whitesmoke;
}