






body{
    line-height:0;
    margin:0;
}

.loading-screen{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:whitesmoke;
    z-index:10000;
}
.image-container{
    padding-top:200px;
}